<html>
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width,initial-scale=0.5,minimum-scale=0.5,maximum-scale=0.5,user-scalable=no" />
		<title>关于</title>
		<link rel="stylesheet" href="../css/style.css" />
		<link rel="stylesheet" href="../css/about.css" />
	</head>
	<body>
		<div class="wrap">
			<div class="head">
				<div class="back">
					<img src="../image/wback.png" alt="" />
				</div>
				<p class="sure">关于</p>
			</div>
			<div class="icon">
				<img src="../image/icon.png" alt="" />
				<p class="icon_p">版本：<span>3.5.7</span></p>
			</div>
			<p class="icon_text">小金葱积分商城，致力于积分生活新体验，从“互联网 +”思维中汲取养分，耕作不息，沉淀力量，抓住黄金行业与互联网碰撞的契机，以创新力量为这个行业积分服务带来全新升级，全能智慧服务商城，改变传统积分商城模式，全面开启积分新玩法，让专业更面向用户。</p>
			<p class="icon_text">小金葱始终坚持“把简单的事情做好就是不简单”，让积分价值落实到实处。亲民、多样、智慧式新生态积分商城，服务更贴心专业。把“传统处理积分”转变到“全新享受积分生活”的乐趣。</p>
		</div>
	</body>
</html>
<script src="../js/flexible.js"></script>