<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=0.5,minimum-scale=0.5,maximum-scale=0.5,user-scalable=no" />
		<title>修改密码</title>
		<link rel="stylesheet" href="../css/style.css" />
		<link rel="stylesheet" href="../css/changePwd.css" />
	</head>
	<body>
		<div class="wrap">
			<div class="head">
				<div class="back">
					<img src="../image/wback.png" alt="" />
				</div>
				<p class="sure">修改密码</p>
			</div>
			<div class="o_pwd">
				<input class="o_val" type="password" name="" id="" value="" placeholder="请输入旧密码"/>
				<img class="del_5" style="display:none" src="../image/delete.png" alt="" />
			</div>
			<div class="n_pwd">
				<input class="n_val" type="password" name="" id="" value="" placeholder="请输入新密码（6-18位字母数字组合）"/>
				<img class="del_6" style="display:none" src="../image/delete.png" alt="" />
			</div>
			<p class="hint" style="display:none">原密码不正确</p>
			<div class="click_btn" style="display:none">修改密码</div>
			<div class="nclick_btn">修改密码</div>
		</div>
	</body>
</html>
<script src="../js/flexible.js"></script>