<html>
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width,initial-scale=0.5,minimum-scale=0.5,maximum-scale=0.5,user-scalable=no" />
		<title>功能反馈</title>
		<link rel="stylesheet" href="../css/style.css" />
		<link rel="stylesheet" href="../css/funFeedBack.css" />
	</head>
	<body>
		<div class="wrap">
			<div class="head">
				<div class="back">
					<img src="../image/wback.png" alt="" />
				</div>
				<p class="sure">功能反馈</p>
			</div>
			<div class="fun_nav">
				<ul class="fun_ul clearfix">
					<li>功能异常</li>
					<li>体验问题</li>
					<li>新功能建议</li>
					<li>其他</li>
				</ul>
			</div>
			<form action="#" class="form">
				<p class="f_problem"><span>*</span>请输入您遇到的问题（不少于5个字）</p>
				<textarea class="text_content" name="" rows="" cols=""></textarea>
				<p class="offer_photo">提供照片能让我们更快帮您解决问题（选填）</p>
				<div class="about_img">
					<input class="upImg" id="file" type="file" name="cerfile" />
	   				<img class="upImg_btn" src="../image/upload.png"/>
	     			<img class="showImg" id="preview" src="" style="display: none;"/>
	     			<p>最多&nbsp;3&nbsp;张</p>
				</div>
				<p class="contact_style">请留下您的联系方式</p>
				<input class="cs_phone" type="text" name="" id="" placeholder="手机号或QQ或微信"/>
			</form>
			<div class="submit">
				<p class="sub_Btn" style="display: none;">提交</p>
	    		<p class="sub_BtnInvalid" >提交</p>
			</div>
		</div>
	</body>
</html>
<script src="../js/flexible.js"></script>