<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=0.5,minimum-scale=0.5,maximum-scale=0.5,user-scalable=no" />
		<title>积分详情</title>
		<link rel="stylesheet" href="../css/style.css" />
		<link rel="stylesheet" href="../css/integralDetails.css" />
	</head>
	<body>
		<div class="wrap">
			<div class="head">
				<div class="back">
					<img src="../image/wback.png" alt="" />
				</div>
				<p class="sure">积分详情</p>
			</div>
			<div class="total_integral"><span>8000</span>&nbsp;积分</div>
			<div class="about_integral clearfix">
				<div class="itg_left">
					<img src="../image/p_integral.png" alt="" />
					<span>花积分</span>
				</div>
				<div class="itg_right">
					<img src="../image/make_integral.png" alt="" />
					<span>赚积分</span>
				</div>				
			</div>
			<div class="itg_detail">
				<p class="itg_title">积分明细</p>
				<ul class="itg_nav clearfix">
					<li>全部记录</li>
					<li>收入记录</li>
					<li>支出记录</li>
				</ul>
				<p class="happy_goods">圣诞节快乐商品</p>
				<div class="hg_time clearfix">
					<span class="hg_left">2017-05-26&nbsp;15:30:03</span>
					<span class="hg_right">-100</span>
				</div>
				<p class="sign">签到</p>
				<div class="sign_time clearfix">
					<span class="st_left">2017-05-26&nbsp;15:30:03</span>
					<span class="st_right">+100</span>
				</div>
			</div>
		</div>
	</body>
</html>
<script src="../js/flexible.js"></script>