<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=0.5,minimum-scale=0.5,maximum-scale=0.5,user-scalable=no" />
		<title>我的</title>
		<link rel="stylesheet" href="../css/style.css" />
		<link rel="stylesheet" href="../css/mine.css" />
	</head>
	<body>
		<div class="wrap">
			<div class="coping">
				<div class="m_head">
					<div class="set">
						<img src="../image/set.png" alt="" />
					</div>
					<p class="m_sure">我的</p>
					<div class="m_message">
						<img src="../image/message.png" alt="" />
					</div>
				</div>
				<div class="mine clearfix">
					<img class="m_pic" src="../image/default_pic.png" alt="" />
					<div class="m_detail">
						<p class="m_name">小洋人</p>
						<p class="m_integral"><span class="m_count">8000</span>积分</p>
					</div>
					<div class="arrow_wrap">
						<img class="m_arrow" src="../image/arrow_wright.png" alt="" />
					</div>
				</div>
				<div class="m_nav">
					<ul class="m_ul clearfix">
						<li>
							<img src="../image/my_collect.png" alt="" />
							<p>收藏商品</p>
						</li>
						<li>
							<img src="../image/int_detail.png" alt="" />
							<p>积分详情</p>
						</li>
						<li>
							<img src="../image/my_sign.png" alt="" />
							<p>我的签到</p>
						</li>
					</ul>
				</div>
			</div>
			<div class="bgc"></div>
			<div class='m_order clearfix'>
				<div class="m_left">
					<img src="../image/my_order.png" alt="" />
					<p>全部订单</p>
				</div>
				<div class="m_right">
					<img src="../image/arrow_bright.png" alt="" />
				</div>
			</div>
			<div class="w_nav">
				<ul class="w_ul clearfix">
					<li>
						<img src="../image/w_pay.png" alt="" />
						<p>待付款</p>
					</li>
					<li>
						<img src="../image/w_displatch.png" alt="" />
						<p>待发货</p>
						<span class="w_message">12</span>
					</li>
					<li>
						<img src="../image/w_receive.png" alt="" />
						<p>待收货</p>
					</li>
				</ul>
			</div>
			<div class="bgc"></div>
			<div class="o_fun clearfix">
				<ul class="o_ul clearfix">
					<li>
						<div class="o_left">
							<img src="../image/task.png" alt="" />
							<p>每日任务</p>
						</div>
						<div class="m_right">
							<img src="../image/arrow_bright.png" alt="" />
						</div>
					</li>
					<li>
						<div class="o_left">
							<img src="../image/feedback.png" alt="" />
							<p>功能反馈</p>
						</div>
						<div class="m_right">
							<img src="../image/arrow_bright.png" alt="" />
						</div>
					</li>
					<li>
						<div class="o_left">
							<img src="../image/invitation.png" alt="" />
							<p>邀请码分享</p>
						</div>
						<div class="m_right">
							<img src="../image/arrow_bright.png" alt="" />
						</div>
						<span class="invitation_code">kf845d51a8</span>
					</li>
					<li>
						<div class="o_left">
							<img src="../image/link.png" alt="" />
							<p>联系客服</p>
						</div>
						<div class="m_right">
							<img src="../image/arrow_bright.png" alt="" />
						</div>
					</li>
				</ul>
			</div>
			<div class="f_nav">
				<ul class="f_ul">
					<li>
						<a href="">
							<img class="no_pitch" src="../image/home.png" alt="" />
							<img class="pitch" style="display:none" src="../image/home_pitch.png" alt="" />
							<p class="text" >首页</p>
							<p class="text_pitch" style="display:none">首页</p>
						</a>
					</li>
					<li>
						<a href="">
							<img class="no_pitch" src="../image/classify.png" alt="" />
							<img class="pitch" src="../image/classify_pitch.png" alt="" style="display:none"/>
							<p class="text">分类</p>
							<p class="text_pitch" style="display:none">分类</p>
						</a>
					</li>
					<li>
						<a href="">
							<img class="no_pitch" src="../image/shoppingCar.png" alt="" />
							<img class="pitch" src="../image/shoppingCar_pitch.png" alt="" style="display:none"/>
							<p class="text">购物车</p>
							<p class="text_pitch" style="display:none">购物车</p>
						</a>
					</li>
					<li>
						<a href="">
							<img class="no_pitch" style="display:none" src="../image/my.png" alt="" />
							<img class="pitch" src="../image/my_pitch.png" alt="" />
							<p class="text" style="display:none">我的</p>
							<p class="text_pitch" >我的</p>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<!--邀请码的遮罩层-->
		<div class="mask"></div>
		<div class="invitation_style" style="display:none">
			<ul class="is_ul">
				<li>
					<img src="../image/weixin1.png" alt="" />
					<p>微信好友</p>
				</li>
				<li>
					<img src="../image/qq1.png" alt="" />
					<p>QQ好友</p>
				</li>
				<li>
					<img src="../image/friend.png" alt="" />
					<p>朋友圈</p>
				</li>
				<li>
					<img src="../image/Qzone.png" alt="" />
					<p>QQ空间</p>
				</li>
			</ul>
		</div>
	</body>
</html>
<script src="../js/flexible.js"></script>
<script src="../js/jquery-3.2.1.min.js"></script>
<script>
	$(function() {
		//显示遮罩层  
		function showMask(){     
	        $(".mask").css("height",$(document).height());     
	        $(".mask").css("width",$(document).width());     
	        $(".mask").show();     
	    }  
   		//隐藏遮罩层  
	   function hideMask(){     	          
	       $(".mask").hide();     
	   }
	})
</script>
