<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=0.5,minimum-scale=0.5,maximum-scale=0.5,user-scalable=no" />
		<title>修改地址</title>
		<link rel="stylesheet" href="../css/style.css" />
		<link rel="stylesheet" href="../css/modifyAdress.css" />
	</head>
	<body>
		<div class="wrap">
			<div class="head">
				<div class="back">
					<img src="../image/wback.png" alt="" />
				</div>
				<p class="sure">修改地址</p>
				<p class="save">保存</p>
			</div>
		</div>
	</body>
</html>
<script src="../js/flexible.js"></script>
