<html>
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width,initial-scale=0.5,minimum-scale=0.5,maximum-scale=0.5,user-scalable=no" />
		<title>我的收藏</title>
		<link rel="stylesheet" href="../css/style.css" />
		<link rel="stylesheet" href="../css/myCollect.css" />
	</head>
	<body>
		<div class="head">
			<div class="back">
				<img src="../image/wback.png" alt="" />
			</div>
			<p class="sure">我的收藏</p>
			<div class="message">
				<img src="../image/message.png" alt="" />
			</div>
		</div>
		<div class="wrap">
			<!--网络请求时失败的界面显示开始-->
			<!--<div class="requestFail">
				<img src="../image/nw_anomaly.png" alt="" />
				<p class="rf_h">网络请求失败!</p>
				<p class="rf_p">“别紧张，试试看刷新页面~”</p>
				<button class="rf_btn">刷新</button>
			</div>-->
			<!--网络请求时失败的界面显示结束-->
			<div class="bgc"></div>
			<div class="my_collect">
				<div class="isChecked">
					<img class='checked' src="../image/checked.png" alt="" />
					<img class="noChecked" src="../image/noChecked.png" alt="" style="display:none"/>
				</div>
				<img class="nc_img" src="../image/order_goods.png" alt="" />
				<div class="mc_text">
					<p class="mc_h">现货&nbsp;瑞典进口&nbsp;ICA50%&nbsp;水果坚果燕麦片即食免煮&nbsp;冲饮早餐代餐</p>
					<div class="mc_bottom clearfix">
						<div class="mc_left">
							<p class="mc_integral"><span>500</span>积分</p>
							<p class="mc_money">￥<span>38.9</span></p>
						</div>
						<button class="mc_right">取消收藏</button>
					</div>
				</div>
			</div>
			<div class="my_collect">
				<div class="isChecked">
					<img class='checked' style="display:none" src="../image/checked.png" alt="" />
					<img class="noChecked" src="../image/noChecked.png" alt="" />
				</div>
				<img class="nc_img" src="../image/order_goods.png" alt="" />
				<div class="mc_text">
					<p class="mc_h">现货&nbsp;瑞典进口&nbsp;ICA50%&nbsp;水果坚果燕麦片即食免煮&nbsp;冲饮早餐代餐</p>
					<div class="mc_bottom clearfix">
						<div class="mc_left">
							<p class="mc_integral"><span>500</span>积分</p>
							<p class="mc_money">￥<span>38.9</span></p>
						</div>
						<button class="mc_right">取消收藏</button>
					</div>
				</div>
			</div>
			<div class="my_collect">
				<div class="isChecked">
					<img class='checked' style="display:none" src="../image/checked.png" alt="" />
					<img class="noChecked" src="../image/noChecked.png" alt="" />
				</div>
				<img class="nc_img" src="../image/order_goods.png" alt="" />
				<div class="mc_text">
					<p class="mc_h">现货&nbsp;瑞典进口&nbsp;ICA50%&nbsp;水果坚果燕麦片即食免煮&nbsp;冲饮早餐代餐</p>
					<div class="mc_bottom clearfix">
						<div class="mc_left">
							<p class="mc_integral"><span>500</span>积分</p>
							<p class="mc_money">￥<span>38.9</span></p>
						</div>
						<button class="mc_right">取消收藏</button>
					</div>
				</div>
			</div>
			<footer class='footer'>
				<div class="is_Checked">
					<img class='is_checked' style="display:none" src="../image/checked.png" alt="" />
					<img class="is_noChecked" src="../image/noChecked.png" alt="" />
				</div>
				<p class="st_all">全选</p>
				<button class="addShopping">加入购物车</button>
			</footer>
		</div>
	</body>
</html>
<script src="../js/flexible.js"></script>