<html>
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width,initial-scale=0.5,minimum-scale=0.5,maximum-scale=0.5,user-scalable=no" />
		<title>我的订单</title>
		<link rel="stylesheet" href="../css/style.css" />
		<link rel="stylesheet" href="../css/myOrder.css" />
	</head>
	<body>
		<div class="wrap">
			<div class="head">
				<div class="back">
					<img src="../image/wback.png" alt="" />
				</div>
				<p class="sure">我的订单</p>
				<div class="message">
					<img src="../image/message.png" alt="" />
				</div>
			</div>
			<header class="header">
				<ul class='header_ul'>
					<li>全部</li>
					<li class='active'>待付款</li>
					<li>待发货</li>
					<li>待收货</li>
				</ul>
			</header>
			<div class="bgc"></div>
			<!--当没有商品时显示的样式-->
			<!--<div class="no_goods">
				<img src="../image/noGoods.png" alt="" />
				<p>您还没有相关订单！</p>
				<button class="stroll_btn">去逛逛</button>
			</div>-->
			<!--当没有商品时显示的样式-->
			<div class="myGoods ">
				<div class="mg_goods clearfix">
					<img class="mg_img" src="../image/order_goods.png" alt="" />
					<div class='mg_text'>
						<div class="mg_title clearfix">
							<p class="mg_h">现货&nbsp;瑞典进口&nbsp;ICA50%&nbsp;水果坚果燕麦片即食免煮&nbsp;冲饮早餐代餐</p>
							<div class="mg_score">
								<p class="mg_integral"><span>500</span>积分</p>
								<p class="mg_money">￥8.9</p>
							</div
						</div>
						<div class='mg_sub clearfix'>
							<p class="sub_title">50%&nbsp;水果坚果&nbsp;750g</p>
							<p class="sub_num">x<span>1</span></p>
						</div>
					</div>
				</div>
			</div>
			<div class="total_goods">
				共<span class="tg_num">1</span>件商品&nbsp;合计：<span class="tg_integral">500</span>积分+￥<span class="tg_money">8.9</span>
			</div>
			<div class="wait_pay clearfix">
				<div class="wp_left">等待买家付款</div>
				<div class="wp_right">
					<p class="del">删除订单</p>
					<p class="pay">立即付款</p>
				</div>
			</div>
			<div class="bgc"></div>
			<div class="myGoods ">
				<div class="mg_goods clearfix">
					<img class="mg_img" src="../image/order_goods.png" alt="" />
					<div class='mg_text'>
						<div class="mg_title clearfix">
							<p class="mg_h">现货&nbsp;瑞典进口&nbsp;ICA50%&nbsp;水果坚果燕麦片即食免煮&nbsp;冲饮早餐代餐</p>
							<div class="mg_score">
								<p class="mg_integral"><span>500</span>积分</p>
								<p class="mg_money">￥8.9</p>
							</div
						</div>
						<div class='mg_sub clearfix'>
							<p class="sub_title">50%&nbsp;水果坚果&nbsp;750g</p>
							<p class="sub_num">x<span>1</span></p>
						</div>
					</div>
				</div>
			</div>
			<div class="total_goods">
				共<span>1</span>件商品&nbsp;合计：<span>500</span>积分+￥<span>8.9</span>
			</div>
			<div class="wait_pay clearfix">
				<div class="wp_left">等待买家付款</div>
				<div class="wp_right">
					<p class="del">删除订单</p>
					<p class="pay">立即付款</p>
				</div>
			</div>
		</div>
	</body>
</html>
<script src="../js/flexible.js"></script>