<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=0.5,minimum-scale=0.5,maximum-scale=0.5,user-scalable=no" />
		<title>昵称</title>
		<link rel="stylesheet" href="../css/style.css" />
		<link rel="stylesheet" href="../css/nickName.css" />
	</head>
	<body>
		<div class="wrap">
			<div class="head">
				<div class="back">
					<img src="../image/wback.png" alt="" />
				</div>
				<p class="sure">昵称</p>
				<p class="save">保存</p>
			</div>
			<div class="input_name">
				<input class="name_val" type="" name="" id="" value="" placeholder="请输入6-20个字符"/>
				<img class="del_4" style="display:none" src="../image/delete.png" alt="" />
			</div>
		</div>
		<p class="explain" style="display:none">请输入6-20个字符</p>
	</body>
</html>
<script src="../js/flexible.js"></script>
