<html>
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width,initial-scale=0.5,minimum-scale=0.5,maximum-scale=0.5,user-scalable=no" />
		<title>订单详情</title>
		<link rel="stylesheet" href="../css/style.css" />
		<link rel="stylesheet" href="../css/orderDetail.css" />
	</head>
	<body>
		<div class="wrap">
			<div class="head">
				<div class="back">
					<img src="../image/wback.png" alt="" />
				</div>
				<p class="sure">订单详情</p>
			</div>
			<div class="od_bg">
				<img src="../image/wait_goods.png" alt="" />
				<p>买家已付款</p>
			</div>
			<div class="adress">
				<div class="r_detail clearfix">
					<p class="receive">收货人：<span class="r_name">张三丰</span></p>
					<span class="r_tel">18826531254</span>
				</div>
				<div class="ad_detail clearfix">
					<div class="ad_left">
						<img src="../image/place.png" alt="" />
					</div>
					<p class="ad_right">收货地址：<span>广东省深圳市龙岗区布吉街道甘坑小镇金苹果创新园a栋17楼</span></p>
				</div>
			</div>
			<div class="bgc"></div>
			<div class="myGoods ">
				<div class="mg_goods clearfix">
					<img class="mg_img" src="../image/order_goods.png" alt="" />
					<div class='mg_text clearfix'>
						<div class="mg_title clearfix">
							<p class="mg_h">现货&nbsp;瑞典进口&nbsp;ICA50%&nbsp;水果坚果燕麦片即食免煮&nbsp;冲饮早餐代餐</p>
							<div class="mg_score">
								<p class="mg_integral"><span>500</span>积分</p>
								<p class="mg_money">￥8.9</p>
							</div
						</div>
						<div class='mg_sub clearfix'>
							<p class="sub_title">50%&nbsp;水果坚果&nbsp;750g</p>
							<p class="sub_num">x<span>1</span></p>
						</div>
					</div>
				</div>
			</div>
			<div class="total_goods">
				<span class="tg_pay">实付款：</span><span class="tg_integral">500</span>积分+￥<span class="tg_money">8.9</span>
			</div>
			<div class="bgc"></div>
			<div class="o_detail">
				<p class="o_num">订单编号：<span>15634568798532</span></p>
				<p class="ct_time">创建时间：<span>15634568798532</span></p>
				<p class="make_time">成交时间：<span>15634568798532</span></p>
			</div>
			<div class="bgc"></div>
			<div class="od_btn">
				<button class="del_btn">删除订单</button>
			</div>
		</div>
	</body>
</html>
<script src="../js/flexible.js"></script>