<html>
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width,initial-scale=0.5,minimum-scale=0.5,maximum-scale=0.5,user-scalable=no" />
		<title>支付成功</title>
		<link rel="stylesheet" href="../css/style.css" />
		<link rel="stylesheet" href="../css/paySuccess.css" />
	</head>
	<body>
		<div class='wrap'>
			<div class="head">
				<div class="back">
					<img src="../image/wback.png" alt="" />
				</div>
				<p class="sure">支付成功</p>
				<p class="save">完成</p>
			</div>
			<div class="pay_img">
				<img src="../image/pay_success.png" alt="" />
			</div>
			<div class="about_pay">
				<p class="p_style">支付方式：<span>微信支付</span></p>
				<p class="p_money">支付金额：￥<span>8</span>元</p>
				<p class="p_integral">支付积分：<span>800</span>积分</p>
				<p class="save_money">优惠金额：￥<span>0.00</span></p>
				<p class="receive">收货人：<span class="r_person">张三丰</span>&nbsp;<span class="p_tel">18826531245</span></p>
				<p class="r_addres">收货地址：<span>广东省深圳市龙岗区布吉街道甘坑金苹果创新园A栋17楼</span></p>
			</div>
			<div class="check_order">查看订单</div>
		</div>
	</body>
</html>
<script src="../js/flexible.js"></script>