<html>
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>收货地址</title>
		<link rel="stylesheet" href="../css/style.css" />
		<link rel="stylesheet" href="../css/receiveAdress.css" />
	</head>
	<body>
		<div class="wrap">
			<div class="head">
				<div class="back">
					<img src="../image/wback.png" alt="" />
				</div>
				<p class="sure">收货地址</p>
			</div>
			<div class="container">
				<div class="adress">
					<div class="r_detail clearfix">
						<p class="receive">张三丰</p>
						<span class="r_tel">18826531254</span>
					</div>
					<div class="ad_detail clearfix">
						<p class="ad_right">广东省深圳市龙岗区布吉街道甘坑小镇金苹果创新园a栋17楼</p>
					</div>
					<div class="control_nav">
						<div class="cn_left">
							<img class="checked" src="../image/checked.png" alt="" />
							<img class="noChecked" src="../image/noChecked.png" style="display:none" alt="" />
							<!--类名控制是否为默认地址-->
							<p class="default">默认地址</p>
						</div>
						<div class="cn_right">
							<div class="edit">
								<img src="../image/edit.png" alt="" />
								<p>编辑</p>
							</div>
							<div class='delect'>
								<img src="../image/del.png" alt="" />
								<p>删除</p>
							</div>
						</div>
					</div>
				</div>
				<div class="bgc"></div>
				<div class="adress">
					<div class="r_detail clearfix">
						<p class="receive">张三丰</p>
						<span class="r_tel">18826531254</span>
					</div>
					<div class="ad_detail clearfix">
						<p class="ad_right">广东省深圳市龙岗区布吉街道甘坑小镇金苹果创新园a栋17楼</p>
					</div>
					<div class="control_nav">
						<div class="cn_left">
							<img class="checked" src="../image/checked.png" alt="" style="display:none"/>
							<img class="noChecked" src="../image/noChecked.png"  alt="" />
							<p >默认地址</p>
						</div>
						<div class="cn_right">
							<div class="edit">
								<img src="../image/edit.png" alt="" />
								<p>编辑</p>
							</div>
							<div class='delect'>
								<img src="../image/del.png" alt="" />
								<p>删除</p>
							</div>
						</div>
					</div>
				</div>
				<div class="bgc"></div>
				<div class="adress">
					<div class="r_detail clearfix">
						<p class="receive">张三丰</p>
						<span class="r_tel">18826531254</span>
					</div>
					<div class="ad_detail clearfix">
						<p class="ad_right">广东省深圳市龙岗区布吉街道甘坑小镇金苹果创新园a栋17楼</p>
					</div>
					<div class="control_nav">
						<div class="cn_left">
							<img class="checked" src="../image/checked.png" alt="" style="display:none"/>
							<img class="noChecked" src="../image/noChecked.png"  alt="" />
							<p >默认地址</p>
						</div>
						<div class="cn_right">
							<div class="edit">
								<img src="../image/edit.png" alt="" />
								<p>编辑</p>
							</div>
							<div class='delect'>
								<img src="../image/del.png" alt="" />
								<p>删除</p>
							</div>
						</div>
					</div>
				</div>
				<div class="bgc"></div>
			</div>
		</div>
	</body>
</html>
<script src="../js/flexible.js"></script>