<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=0.5,minimum-scale=0.5,maximum-scale=0.5,user-scalable=no" />
		<title>设置</title>
		<link rel="stylesheet" href="../css/style.css" />
		<link rel="stylesheet" href="../css/set.css" />
	</head>
	<body>
		<div class="wrap">
			<div class="head">
				<div class="back">
					<img src="../image/wback.png" alt="" />
				</div>
				<p class="sure">设置</p>
			</div>
			<div class="sing_remind">
				<p class="sr_left">签到提醒</p>
				<div class="sr_right">
					<img  class="s_open" src="../image/open_btn.png" alt="" />
					<img class="s_close" style="display:none" src="../image/close.btn.png" alt="" />
				</div>
			</div>
			<div class="sing_remind">
				<p class="sr_left">消息推送</p> 
				<div class="sr_right">
					<img  class="s_open" style="display:none" src="../image/open_btn.png" alt="" />
					<img class="s_close" src="../image/close.btn.png" alt="" />
				</div>
			</div>
			<div class="changge_pwd">
				<p class="pwd_left">修改密码</p>
				<div class="pwd_right">
					<img class="pwd_arrow" src="../image/arrow_bright.png" alt="" />
				</div>
			</div>
			<div class="change_tel">
				<p class="tel_left">更换手机号</p>
				<div class="tel_right">
					<img class="tel_arrow" src="../image/arrow_bright.png" alt="" />
				</div>
			</div>
			<div class="about_xjc">
				<p class="xjc_left">关于小金葱</p>
				<div class="xjc_right">
					<img class="xjc_arrow" src="../image/arrow_bright.png" alt="" />
				</div>
			</div>
			<div class="exit_account">退出账户</div>
		</div>
	</body>
</html>
<script src="../js/flexible.js"></script>
