<html>
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width,initial-scale=0.5,minimum-scale=0.5,maximum-scale=0.5,user-scalable=no" />
		<title>设置发票信息</title>
		<link rel="stylesheet" href="../css/style.css" />
		<link rel="stylesheet" href="../css/setInvoice.css" />
	</head>
	<body>
		<div class="wrap">
			<div class="head">
				<div class="back">
					<img src="../image/wback.png" alt="" />
				</div>
				<p class="sure">设置发票信息</p>
			</div>
			<div class="set_top">
				<p class="set_type">发票类型</p>
				<div class="set_paper">纸质发票</div>
				<div class="set_added">增值税发票</div>
			</div>
			<div class="bgc_b"></div>
			<div class="bill">
				<p class="set_rise">发票抬头</p>
				<div class="set_personal">
					<img class="sp_nocheck" src="../image/s_nocheck.png" alt="" style="display:none"/>
					<img class="sp_check" src="../image/s_check.png" alt="" />
					<p class="setp">个人</p>
				</div>
				<div class="set_company">
					<img class="sc_nocheck" src="../image/s_nocheck.png" alt="" />
					<img class="sc_check" src="../image/s_check.png" alt="" style="display:none"/>
					<p class="setc">公司</p>
				</div>
			</div>
			<div class="bgc_b"></div>
			<div class="invoice_message">收票人信息</div>
			<div class="invoice_phone">*收票人手机<span>188****9546</span></div>
			<div class="bgc_b"></div>
			<div class="invoice_content">发票内容</div>
			<div class="set_detail">
				<img class="sp_nocheck" src="../image/s_nocheck.png" alt="" style="display:none"/>
				<img class="sp_check" src="../image/s_check.png" alt="" />
				<p class="sedp">明细</p>
			</div>
			<div class="set_work">
				<img class="sp_nocheck" src="../image/s_nocheck.png" alt="" />
				<img class="sp_check" src="../image/s_check.png" alt="" style="display:none"/>
				<p class="sewp">办公用品</p>
			</div>
			<div class="set_consum">
				<img class="sp_nocheck" src="../image/s_nocheck.png" alt="" />
				<img class="sp_check" src="../image/s_check.png" alt="" style="display:none"/>
				<p class="secp">耗材</p>
			</div>
			<div class="sure_btn">确定</div>
		</div>
	</body>
</html>
<script src="../js/flexible.js"></script>